{% extends "base.html.twig" %} {% block title %}YAKWA{% endblock %} {% block header %} {{ parent() }}
<div class="row" id="header_content">
    <div class="container">
        <img src="/public/img/yakwaLogoTest.png" alt="logo yakwa" width="400px" height="160px">
        <h1>Le site pour tout savoir sur vos films préférés !</h1>
        <a href="#">Trouver un Film</a>
    </div>
</div>
{% endblock %} {% block content %}

<section id="carousel">
    <h2>A (re)découvrir</h2>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            {% for element in films | batch(3) %} {% if loop.first %}
            <div class="carousel-item active">
                <div class="carousel_container">
                    {% for film in element %}
                    <div class="carousel_movie">
                        <a class="carousel_movie_image" href="/films/{{film.id}}">
                            <img class="img-fluid" src="/public/img/affiches/{{film.id}}.jpg" alt={{film.titre}}></a>
                        <a class="carousel_movie_title" href="/films/{{film.id}}">{{film.titre}}</a>
                    </div> {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="carousel-item ">
                <div class="carousel_container">
                    {% for film in element %}
                    <div class="carousel_movie">
                        <a class="carousel_movie_image" href="/films/{{film.id}}">
                            <img class="img-fluid" src="/public/img/affiches/{{film.id}}.jpg" alt={{film.titre}}></a>
                        <a class="carousel_movie_title" href="/films/{{film.id}}">{{film.titre}}</a>
                    </div> {% endfor %}
                </div>
            </div>
            {% endif %} {% endfor %}

            <!-- <div class="carousel-item active">
                <div class="carousel_container">
                    <a class="carousel_movie">
                        <img src="public/img/affiches/1.jpg" alt="Les chèvres du pentagone" width="300px" class="carousel_img" id="carousel_img1">
                        <p class="carousel_movie_title">Les chèvres du pentagone</p>
                    </a>
                    <a class="carousel_movie">
                        <img src="public/img/affiches/2.jpg" alt="Drive" width="300px" class="carousel_img" id="carousel_img2">
                        <p class="carousel_movie_title">Drive</p>
                    </a>
                    <a class="carousel_movie">
                        <img src="public/img/affiches/3.jpg" alt="Docteur Strange" width="300px" class="carousel_img" id="carousel_img3">
                        <p class="carousel_movie_title">Docteur Strange</p>
                    </a>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="carousel_container">
                    <a class="carousel_movie">
                        <img src="public/img/affiches/4.jpg" alt="Le cinquième élément" width="300px" class="carousel_img" id="carousel_img4">
                        <p class="carousel_movie_title">Le cinquième élément</p>
                    </a>
                    <a class="carousel_movie">
                        <img src="public/img/affiches/5.jpg" alt="Interstellar" width="300px" class="carousel_img" id="carousel_img5">
                        <p class="carousel_movie_title">Interstellar</p>
                    </a>
                    <a class="carousel_movie">
                        <img src="public/img/affiches/6.jpg" alt="Le retour du roi" width="300px" class="carousel_img" id="carousel_img6">
                        <p class="carousel_movie_title">Le retour du roi</p>
                    </a>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="carousel_container">
                    <a class="carousel_movie">
                        <img src="public/img/affiches/7.jpg" alt="L'empire contre attaque" width="300px" class="carousel_img" id="carousel_img7">
                        <p class="carousel_movie_title">L'empire contre attaque</p>
                    </a>
                    <a class="carousel_movie">
                        <img src="public/img/affiches/8.jpg" alt="Split" width="300px" class="carousel_img" id="carousel_img8">
                        <p class="carousel_movie_title">Split</p>
                    </a>
                    <a class="carousel_movie">
                        <img src="public/img/affiches/9.jpg" alt="BirdBox" width="300px" class="carousel_img" id="carousel_img9">
                        <p class="carousel_movie_title">BirdBox</p>
                    </a>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="carousel_container">
                    <a class="carousel_movie">
                        <img src="public/img/affiches/10.jpg" alt="Coco" width="300px" class="carousel_img" id="carousel_img10">
                        <p class="carousel_movie_title">Coco</p>
                    </a>
                    <a class="carousel_movie">
                        <img src="public/img/affiches/11.jpg" alt="The Shinning" width="300px" class="carousel_img" id="carousel_img11">
                        <p class="carousel_movie_title">The Shinning</p>
                    </a>
                    <a class="carousel_movie">
                        <img src="public/img/affiches/12.jpg" alt="Vol au dessus d un nid de coucou" width="300px" class="carousel_img" id="carousel_img12">
                        <p class="carousel_movie_title">Vol au dessus d un nid de coucou</p>
                    </a>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="carousel_container">
                    <a class="carousel_movie">
                        <img src="public/img/affiches/13.jpg" alt="Inglourious Basterds" width="300px" class="carousel_img" id="carousel_img13">
                        <p class="carousel_movie_title">Inglourious Basterds</p>
                    </a>
                    <a class="carousel_movie">
                        <img src="public/img/affiches/14.jpg" alt="Mary & Max" width="300px" class="carousel_img" id="carousel_img14">
                        <p class="carousel_movie_title">Mary & Max</p>
                    </a>
                    <a class="carousel_movie">
                        <img src="public/img/affiches/15.jpg" alt="Dans la peau de John Malkovich" width="300px" class="carousel_img" id="carousel_img15">
                        <p class="carousel_movie_title">Dans la peau de John Malkovich</p>
                    </a>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="carousel_container">
                    <a class="carousel_movie">
                        <img src="public/img/affiches/16.jpg" alt="Hackers" width="300px" class="carousel_img" id="carousel_img16">
                        <p class="carousel_movie_title">Hacker</p>
                    </a>
                    <a class="carousel_movie">
                        <img src="public/img/affiches/17.jpg" alt="Inception" width="300px" class="carousel_img" id="carousel_img17">
                        <p class="carousel_movie_title">Inception</p>
                    </a>
                    <a class="carousel_movie">
                        <img src="public/img/affiches/18.jpg" alt="The Voices" width="300px" class="carousel_img" id="carousel_img18">
                        <p class="carousel_movie_title">The Voices</p>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel_container">
                    <a class="carousel_movie">
                        <img src="public/img/affiches/19.jpg" alt="2001 L'odyssée de l'espace" width="300px" class="carousel_img" id="carousel_img19">
                        <p class="carousel_movie_title">2001 L'odyssée de l'espace</p>
                    </a>
                    <a class="carousel_movie">
                        <img src="public/img/affiches/20.jpg" alt="Spider-man : New generation" width="300px" class="carousel_img" id="carousel_img20">
                        <p class="carousel_movie_title">Spider-man : New generation</p>
                    </a>
                    <a class="carousel_movie">
                        <img src="public/img/affiches/21.jpg" alt="Blade Runner 2049" width="300px" class="carousel_img" id="carousel_img21">
                        <p class="carousel_movie_title">Blade Runner 2049</p>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel_container">
                    <a class="carousel_movie">
                        <img src="public/img/affiches/22.jpg" alt="La ligne verte" width="300px" class="carousel_img" id="carousel_img22">
                        <p class="carousel_movie_title">La ligne verte</p>
                    </a>
                    <a class="carousel_movie">
                        <img src="public/img/affiches/23.jpg" alt="Les évadés" width="300px" class="carousel_img" id="carousel_img23">
                        <p class="carousel_movie_title">Les évadés</p>
                    </a>
                    <a class="carousel_movie">
                        <img src="public/img/affiches/24.jpg" alt="Secret window" width="300px" class="carousel_img" id="carousel_img24">
                        <p class="carousel_movie_title">Secret window</p>
                    </a>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel_container">
                    <a class="carousel_movie">
                        <img src="public/img/affiches/25.jpg" alt="Dobermanne" width="300px" class="carousel_img" id="carousel_img25">
                        <p class="carousel_movie_title">Dobermann</p>
                    </a>

                </div>
            </div>
            -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</section>

<section id="about" class="container-fluid">
    <div class="container">
        <div class="row" id="title-about">
            <div class="col-lg-12">
                <h2>YAKWA KESAKO ?</h2>
            </div>
        </div>
        <div class=row id="title-description">
            <div class="col-lg-12">
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
        </div>
        <div class="row" id="title-buttons">
            <div class="col-lg-6">
                <a href="/films"><button type="button" class="btn btn-secondary">Voir les films</button></a>
            </div>
            <div class="col-lg-6">
                <a href="/random"><button type="button" class="btn btn-secondary">Un film au hasard ?</button></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}