{% extends "base.html.twig" %} {% block title %}YAKWA{% endblock %} {% block header %} {{ parent() }}
<div class="row" id="header_content">
    <div class="container">
        <img id="yakwa-logo" src="/public/img/yakwaLogoTest.png" alt="logo yakwa" width="400px" height="160px">
        <h1>Le site pour tout savoir sur vos films préférés !</h1>
        <a href="/films">Trouver un Film</a>
    </div>
</div>
{% endblock %} {% block content %}

<section id="carousel">
<h2>À (re)découvrir</h2>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">

{% for element in films | batch(3) %} {% if loop.first %}
<div class="carousel-item active">
<div class="carousel_container">
{% for film in element %}
<div class="carousel_movie">
<a class="carousel_movie_image" href="/films/{{film.id}}" style="background-image: url('public/img/affiches/{{film.id}}.jpg')"></a>
<a class="carousel_movie_title" href="/films/{{film.id}}">{{film.titre}}</a>
</div> {% endfor %}
</div>
</div>
{% else %}
<div class="carousel-item ">
<div class="carousel_container">
{% for film in element %}
<div class="carousel_movie">
<a class="carousel_movie_image" href="/films/{{film.id}}" style="background-image: url('public/img/affiches/{{film.id}}.jpg')"></a>
<a class="carousel_movie_title" href="/films/{{film.id}}">{{film.titre}}</a>
</div>
{% endfor %}
</div>
</div>
{% endif %} {% endfor %}
</div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>

</section>
<section id="mini_carousel">
<h2>À (re)découvrir</h2>
<div id="miniCarouselControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">

{% for element in films | batch(1) %} {% if loop.first %}
<div class="carousel-item active">
<div class="carousel_container">
{% for film in element %}
<div class="carousel_movie">
<a class="carousel_movie_image" href="/films/{{film.id}}" style="background-image: url('public/img/affiches/{{film.id}}.jpg')"></a>
<a class="carousel_movie_title" href="/films/{{film.id}}">{{film.titre}}</a>
</div> {% endfor %}
</div>
</div>
{% else %}
<div class="carousel-item ">
<div class="carousel_container">
{% for film in element %}
<div class="carousel_movie">
<a class="carousel_movie_image" href="/films/{{film.id}}" style="background-image: url('public/img/affiches/{{film.id}}.jpg')"></a>
<a class="carousel_movie_title" href="/films/{{film.id}}">{{film.titre}}</a>
</div>
{% endfor %}
</div>
</div>
{% endif %} {% endfor %}
</div>
<a class="carousel-control-prev" href="#miniCarouselControls" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#miniCarouselControls" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>

</section>

<section id="about" class="container-fluid">
    <div class="container">
        <div class="row" id="title-about">
            <div class="col-lg-12">
                <h2>YAKWA KESAKO ?</h2>
            </div>
        </div>
        <div class=row id="title-description">
            <div class="col-lg-12">
                 <p>YAKWA, le site de vos envies cinéma!</p> <br>
                    <p>Vous êtes à la recherche d'un film pour votre soirée ciné ? vous êtes curieux ? un infatiguable cinéphile à la recherche d'une nouvelle éxperience ciné ? <br>
                    Ne cherchez pas plus loin! YAKWA est là pour vous. <br>
                    Sur YAKWA vous pourrez trouver un film selon vos envies, parcourir la liste de nos films avec leurs synopsis et bande-annonces.</p> <br>
                    <p>Devenez Membre!</p> <br>
                    <p>En devenant un membre de YAKWA, vous pourrez ajouter un film sur YAKWA afin d'enrichir notre sélection et faire partie de la communauté YAKWA, la meilleure au monde! Bien d'autres avantages sont à venir pour les membres du site. <br>
                    Convaincu ? c'est le moment de vous lancer! </p>
            </div>
        </div>
        <div class="row" id="title-buttons">
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <a href="/films"><button type="button" class="btn btn-secondary">Voir les films</button></a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                <a href="/random"><button type="button" class="btn btn-secondary">Un film au hasard ?</button></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}